@tailwind base;
@tailwind components;
@tailwind utilities;

.js-widget-overlay {
    z-index: 10001;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    opacity: 0.8;
    background-color: #000;
}

.js-widget-dialog {
    position: fixed;
    z-index: 10002;
    background: #fff;
    right: 0;
    bottom: 0;
    margin: 0 0 0 -120px;
    width: 200px;
    padding: 10px 20px;
    border: solid 1px #333
}

.js-widget-modal {
  z-index: 10003;
  position: fixed;
  top: 25%;
  bottom: 50%;
  left: 25%;
  right: 25%;
  border: solid 1px #333;
  opacity: 0.98;
  margin-bottom: 30rem;
  width: 50rem;
  height: 30rem;
  padding: 10px 20px;
  background-color: #e8e1e1;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hidden {
  display: none;
}

.margin-top-20 {
  margin-top: 20px;
}
