<div class="bg-light-primary dark:bg-dark-primary isolate">
  <!-- Hero section -->
  <div class="relative pt-14">
    <div class="py-12 sm:py-32 lg:pb-40">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <h1 class="text-balance light-text-primary dark:text-dark-text-primary text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl animate__animated animate__fadeIn">Kavindra.io</h1>
          <p class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8 dark:text-dark-text-primary animate__animated animate__fadeIn animate__slow">An open-source feedback application
            for your web applications</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a [routerLink]="rebaseRoutePath(RoutePath.REGISTER)"
               class="rounded-md bg-light-blue dark:bg-dark-blue px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 animate__animated animate__fadeIn animate__slower">Get
              started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Feature section -->
  <div class="mx-auto mt-5 max-w-7xl px-6 animate__animated animate__slideInUp">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 ttext-light-text-primary dark:text-dark-text-primary">Drastically improve customer relations</h2>
      <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight ttext-light-text-primary dark:text-dark-text-primary sm:text-5xl lg:text-balance">
        Everything you need to gather feedback from your customers</p>
      <p class="mt-6 text-pretty text-lg/8 ttext-light-text-primary dark:text-dark-text-primary">With the ability to embed a feedback widget directly in your
        web application.</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <app-feature-display
          [primeIconClass]="'pi-dollar'"
          [title]="'Much Cheaper than Competitors'"
          [description]="'The inspiration for this product was real-world usage which unveiled an opportunity for significant cost savings for our customers.'"
        />
        <app-feature-display
          [primeIconClass]="'pi-bolt'"
          [title]="'Integrate in Minutes'"
          [description]="'With the feedback widget in a single deployable bundle, you can integrate it into your application in minutes, no need to worry about the complexities of authentication, authorization, and data storage.'"
        />
        <app-feature-display
          [primeIconClass]="'pi-comments'"
          [title]="'Start a Conversation'"
          [description]="'With the feedback widget, you can start a conversation with your customers and get feedback in real-time.'"
        />
        <app-feature-display
          [primeIconClass]="'pi-shield'"
          [title]="'Enterprise-Ready Identity Providers'"
          [description]="'Connect your organization\'s authentication provider of choice to our application, allowing seamless integration with existing SSO solutions.'"
        />
      </dl>
    </div>
  </div>

  <!-- Pricing section -->
  <div class="py-24 sm:pt-48">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base font-semibold leading-7 text-light-text-primary dark:text-dark-text-primary">Pricing</h2>
        <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-light-text-primary dark:text-dark-text-primary sm:text-5xl lg:text-balance">
          Pricing that grows with you</p>
      </div>
      <div *ngIf="pricingPlans().length > 0 else loadingSpinner"
        class="isolate mx-auto mt-16 grid max-w-md grid-cols-1 gap-y-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        @for(pricingPlan of pricingPlans(); track $index;) {
          <app-pricing-display
            [name]="pricingPlan.name"
            [description]="pricingPlan.description"
            [monthlyPrice]="pricingPlan.monthlyPrice"
            [features]="pricingPlan.features"
            [tag]="pricingPlan.tag"
          />
        }
      </div>
      <ng-template #loadingSpinner>
        <div class="flex justify-center items-center text-center mt-10">
          <p-progress-spinner styleClass="w-10rem h-10rem" />
        </div>
      </ng-template>
    </div>
  </div>

  <!-- FAQs -->
  <div class="mx-auto max-w-2xl divide-y divide-gray-900/10 px-6 pb-8 sm:pb-24 sm:pt-12 lg:max-w-7xl lg:px-8 lg:pb-32">
    <h2 class="text-4xl font-semibold tracking-tight text-light-text-primary dark:text-dark-text-primary sm:text-5xl">Frequently asked questions</h2>
    <dl class="mt-10 space-y-8 divide-y divide-gray-900/10">
      <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
        <dt class="text-base font-semibold leading-7 text-light-text-primary dark:text-dark-text-primary lg:col-span-5">How do you differ from competitors like FeatureBase.app?
        </dt>
        <dd class="mt-4 lg:col-span-7 lg:mt-0">
          <p class="text-base leading-7 text-light-text-primary dark:text-dark-text-primary">There are many differences between Kavindra and other offerings, but
            primarily, we have reduced bloat and cost by focusing purely on <strong>Direct User Feedback</strong></p>
        </dd>
      </div>
    </dl>
  </div>
</div>
