<div class="py-8 px-8 border-8 border-black rounded-3xl min-h-screen dark:bg-dark-primary"
     style="box-shadow: 5px 5px 0 black; outline: 3px solid black;">
  <form>
    <div class="space-y-12 animate-fadeinup">
      <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
        <div>
          <h2 class="text-4xl font-extrabold tracking-wide text-light-text-primary dark:text-dark-text-primary">
            Organization
          </h2>
          <p class="mt-1 text-xl text-light-text-primary dark:text-dark-text-primary">This is just a display name for
            your organization, for example, your company name.</p>
        </div>

        <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
          <div class="sm:col-span-4">
            <div class="mt-2">
              <div class="mt-2">
                <div
                  [ngClass]="{'outline-light-error text-light-error': (clientDisplayNameFormControl.invalid && clientDisplayNameFormControl.dirty), 'outline-light-success': clientDisplayNameFormControl.valid}"
                  class="flex items-center rounded-full py-2 px-4 shadow-lg outline outline-2 dark:outline-dark-text-primary focus-within:outline-pink-500">
                  <input type="text" name="clientDisplayName" id="clientDisplayName"
                         autocomplete="off"
                         [formControl]="clientDisplayNameFormControl"
                         [ngClass]="{'placeholder-light-error': (clientDisplayNameFormControl.invalid && clientDisplayNameFormControl.dirty), 'text-light-success outline-light-success': clientDisplayNameFormControl.valid}"
                         class="w-full text-lg rounded-full focus:outline-none text-light-text-primary dark:text-light-text-primary"
                         placeholder="Enter Organization Display Name">
                  <div class="flex items-center ml-2 mt-2 pb-2">
                    <i *ngIf="clientDisplayNameFormControl.valid" class="pi pi-thumbs-up text-light-success"></i>
                    <i *ngIf="clientDisplayNameFormControl.invalid && clientDisplayNameFormControl.dirty"
                       class="pi pi-thumbs-down text-light-error"></i>
                  </div>
                </div>

                <div
                  *ngIf="clientDisplayNameFormControl.invalid && clientDisplayNameFormControl.dirty"
                  class="text-light-error mt-4" style="font-size: 1.25rem;">
                  Please enter a valid display name between 3 and 100 characters long.
                </div>
                <div
                  *ngIf="clientDisplayNameFormControl.valid"
                  class="text-light-success mt-4" style="font-size: 1.25rem;">
                  Valid display name.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
        <div>
          <h2 class="text-4xl font-extrabold tracking-wide text-light-text-primary dark:text-dark-text-primary">
            Project Subdomain
          </h2>
          <p class="mt-1 text-xl text-light-text-primary dark:text-dark-text-primary">This information will be displayed
            publicly so be careful what you
            share. You can create more projects after this one if you like.</p>
        </div>

        <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
          <div class="sm:col-span-4">
            <div class="mt-2">
              <div class="mt-2">
                <div
                  [ngClass]="{'outline-light-error text-light-error': (subdomainState !== 'LOADING' && ((subdomainFormControl.invalid && subdomainFormControl.dirty) || subdomainState === 'UNAVAILABLE')), 'outline-light-success': (subdomainState !== 'LOADING' && (subdomainFormControl.valid && subdomainState === 'AVAILABLE'))}"
                  class="flex items-center rounded-full py-2 px-4 shadow-lg outline outline-2 dark:outline-dark-text-primary focus-within:outline-pink-500">
                  <div
                    class="shrink-0 select-none text-lg text-light-text-primary dark:text-dark-text-primary mr-2 sm:text-base">
                    https://
                  </div>
                  <input type="text" name="subdomain" id="subdomain"
                         autocomplete="off"
                         [formControl]="subdomainFormControl"
                         [ngClass]="{'placeholder-light-error': (subdomainState !== 'LOADING' && ((subdomainFormControl.invalid && subdomainFormControl.dirty) || subdomainState === 'UNAVAILABLE')), 'text-light-success outline-light-success': (subdomainState !== 'LOADING' && (subdomainFormControl.valid && subdomainState === 'AVAILABLE'))}"
                         class="w-full text-lg rounded-full focus:outline-none text-light-text-primary dark:text-light-text-primary"
                         placeholder="Enter subdomain">
                  <div
                    class="shrink-0 select-none text-lg text-gray-700 ml-2 sm:text-base text-light-text-primary dark:text-dark-text-primary">
                    .kavindra.io
                  </div>
                  <div class="flex items-center ml-2 mt-2 pb-2">
                    <ng-container [ngSwitch]="subdomainState">
                      <p-progress-spinner *ngSwitchCase="'LOADING'" styleClass="w-8 h-8" />
                      <ng-container *ngIf="subdomainFormControl.valid">
                        <i *ngSwitchCase="'AVAILABLE'" class="pi pi-thumbs-up text-light-success"></i>
                      </ng-container>
                      <i *ngSwitchCase="'UNAVAILABLE'" class="pi pi-thumbs-down text-light-error"></i>
                    </ng-container>
                    <ng-container *ngIf="subdomainFormControl.invalid && subdomainFormControl.dirty">
                      <i class="pi pi-thumbs-down text-light-error"></i>
                    </ng-container>
                  </div>
                </div>

                <div
                  *ngIf="(subdomainState !== 'LOADING' && (subdomainFormControl.invalid && subdomainFormControl.dirty) || subdomainState === 'UNAVAILABLE')"
                  class="text-light-error mt-4" style="font-size: 1.25rem;">
                  Please enter a valid subdomain.
                </div>
                <div
                  *ngIf="(subdomainState !== 'LOADING' && (subdomainFormControl.valid && subdomainState === 'AVAILABLE'))"
                  class="text-light-success mt-4" style="font-size: 1.25rem;">
                  Valid subdomain.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <app-project-features-switches
          [bugReportsEnabledFormControl]="bugReportsEnabledFormControl"
          [featureRequestsEnabledFormControl]="featureRequestsEnabledFormControl"
          [featureFeedbackEnabledFormControl]="featureFeedbackEnabledFormControl"
          [isHintEnabled]="true"
        />
      </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6 animate-fadeindown">
      <a
        pButton
        [routerLink]="rebaseRoutePath(RoutePath.CREATE_CLIENT_INTRO)"
        [severity]="'info'"
        type="button"
         class="px-8 py-4 text-2xl font-bold text-light-text-primary dark:text-dark-text-primary dark:outline-dark-text-primary dark:outline rounded-full shadow-lg transform transition-transform hover:scale-105 hover:bg-yellow-400 hover:rotate-3">
        Cancel
      </a>
      <button
        pButton
        [disabled]="!isReadyToContinue()"
        [loading]="clientStore.isLoading()"
        (click)="doCreateProject()"
        [severity]="(isReadyToContinue()) ? 'primary': 'info'"
        class="px-8 py-4 text-2xl font-bold text-light-text-primary dark:text-dark-text-primary dark:outline-dark-text-primary dark:outline
         rounded-full shadow-lg transform transition-transform hover:scale-105 hover:bg-yellow-400 hover:rotate-3" type="button">
        Continue
        <ArrowRightIcon *ngIf="isReadyToContinue()" />
      </button>
    </div>
  </form>
</div>
